$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";

@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body {
  background-color: #eee;
  padding-top: 1em;
}

.header .greeter {
  padding: $nav-link-padding;
}

@import 'form-signin';
